* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: gaegu-bold,gaegu-light,sans-serif;
}

@font-face {
  font-family: 'gaegu-bold';
  src: url('../public/fonts/Gaegu-Bold.ttf') format('truetype');
  /* TTF 파일 형식에 맞게 'truetype'로 지정합니다. */
  font-weight: bold;
}

@font-face {
  font-family: 'gaegu-light';
  src: url('../public/fonts/Gaegu-Light.ttf') format('truetype');
  /* TTF 파일 형식에 맞게 'truetype'로 지정합니다. */
  font-weight: normal;
}


